div.mainContainer {
    width: 70%;
    margin: auto;
}

/*set bg picture and scale*/
html {
    background: url(../../bg.jpg) no-repeat center center fixed #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*set error message block*/
.error {
    padding: 5px 10px;
    margin-left: 20%;
    border: 2px dashed #f1f1f1;
    color: #0066FF;
    width: 300px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f1f1f1;
    li {
        display: inline-block;
        a {
            color: black;
            text-align: center;
            /*underscore menu items*/
            text-decoration: none;
            width:160px;
            display: inline-block;
            padding: 14px 14px;
            &:hover {
                background-color: orange;
                color: green;
            }
        }
    }
}
.active {
    background-color: #111111;
    color: white;
}


#instructionBlock {
    padding-left: 2%;
    opacity: 0.8;
    background-color: #DCDCDC;
    padding-right: 2%;
    border: 1px solid #111111;
}
 //set specific class
.backStepBlock{
    margin-left: 20%;
    color: #111111;
    width: 50%
}
.optionBar * {
    display: inline-block;
}

table {
    border-collapse: collapse;
    opacity: 0.8;
    background-color: #DCDCDC;
    margin: auto;
    width: 100%;
    overflow: auto;

    tr {
        text-align: left;
        padding: 2px;
        border-bottom: 1px solid;
    }

    &:first-child {
        background-color: #111111;
        color: white;
    }

    td {
        padding: 7px;
        border-right: 1px solid;

            /*cost col*/
            &:nth-child(4):before {
                content: "$";
            }

            /* for stock qty col */
            &:nth-child(5) {
                text-align: right;
        }
    }
}

.displayBlock {
    #searchBlock, #browseBlock {
        padding: 20px;
    }

     #searchForm input {
         background-color: #DCDCDC;
         box-sizing: content-box;
         width: 25%;
         transition: 0.4s;
         margin: 6px;
         opacity:0.8;
         positon: fixed;

        &:focus {
            border: 2px solid #555;
        }
    }
    #browseForm {
        display: block;
        margin: auto;
        top: 0;
        positon: fixed;
    }

    /*set login page*/

    form.registerForm, form.loginForm {
        width: 300px;
        margin-left: 20%;

        input {
            box-sizing: border-box;
            width: 100%;
            padding: 10px;
            margin: 6px;
            transition: 0.4s;
            font-size: 16px;
            &[type=submit]:hover {
                background-color: orange;
                color: green;
            }
            &:focus {
                border: 3px solid white;
            }


        }
    }
}
